{% block aboutMe %}
<section class="container-fluid my-5" style="min-height: 600px;" id="aboutMe"> 
  <h1 class='text-center mb-5'> About Me </h1>
	<div class="container">
		<div class="row">
            <div class="col-md">
                <img class="rounded float-start img-thumbnail border border-5 border-primary" src="../../static/img/Masaya-Ocean-Picture.jpg"  alt="placeholder image"/>
            
            </div>
            <div class="col-md row">
                <div class="container">
                    <div class="row">
                        <div class="col row justify-content-center align-items-center" style="max-height: 100px; max-width: 150px;" >
                            <img class="" src="../../static/img/technologies/python.png"  alt="Python logo"/>
                            <img class=""  src="../../static/img/technologies/bootstrap-logo.png"  alt="Bootstrap logo"/>
                        </div>
                        <div class="col row justify-content-center align-items-center" style="max-height: 350px; max-width: 250px;" >
                            <img class=""  src="../../static/img/technologies/jinja-logo.png"  alt="Jinja logo"/>
                            <img class="" src="../../static/img/technologies/Flask-logo.png"  alt="Flask logo"/>
                        </div>
                        <div class="col row justify-content-center align-items-center" style="max-height: 100px; max-width: 150px;" >
                            <img class=""  src="../../static/img/technologies/icons8-typescript.svg"  alt="Typescript"/>
                            <img class="" src="../../static/img/technologies/react.png"  alt="React"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5" style="font-size: 16pt;" >
                <p >
                    Hey there! My name's Masaya Funakoshi, 23-years-old, born and raised in Tarrytown, NY. Currently looking for a jump-start to my career as a Software Engineer. I'm proficient with JS/TS, HTML, CSS, React, and currently working on gaining a deeper understanding of
                    Python, SRE tools and tech, and how to become a coding wiz.
                    </p>
                    <p>
                    I graduated in the Spring of 2020 with a BA in Arts Management,
                    right at the peak of the pandemic. The Arts took quite a hit
                    from the quarantine, leaving me with no internships and alot of
                    time. With this new-found freedom, I decided to do something
                    I've always wanted to do, which was learn how to code. And of
                    course... I fell in love with it.
                    </p>
                    <p>
                    I believe everyone has that "Aha!" moment when they realize
                    their passion for coding. Mine was when I wrote my first
                    console.log("Hello World!") in JavaScript. Seeing my words
                    magically appear on the console BLEW MY MIND. The machine was
                    TALKING TO ME. Or maybe it was more me... talking to myself?
                    Anyways, it made me feel like Emperor Palpatine in this
                    Star Wars
                    <a
                    href="https://www.youtube.com/watch?v=Sg14jNbBb-8"
                    alt="Emperor Palpatine Unlimited Power scene"
                    target="_blank"
                    className="AboutMe-Link-Text"
                    >
                    &#160;scene.
                    </a>
                    </p>
                    <p>
                    Throughout this journey, it's been a series of ups and downs.
                    The euphoria you feel when you solve an issue that's been
                    bugging you for days, as well as the frustration of a small
                    problem leading you down a rabbit hole. At the end of the day,
                    it's taught me a mindset, any problem can be solved with enough
                    perserverance, logical thinking, and Google. I appreciate the
                    experiences I've had so far, and am looking forward to
                    adventures that await!
                    </p>
                </p>
            </div>
        </div>
	</div> 
</section>
{% endblock %}